.skills__html {
  width: 85%;
}

.skills__css {
  width: 90%;
}

.skills__js {
  width: 85%;
}

.skills__react {
  width: 90%;
}

.skills__sql {
  width: 80%;
}

.skills__node {
  width: 70%;
}

.skills__java {
  width: 90%;
}

.skills__python {
  width: 55%;
}

.skills__adobe {
  width: 90%;
}

.skills__sketch {
  width: 85%;
}

.skills__photoshop {
  width: 85%;
}
